# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
.BIN/
.DS_Store
